.home-title{
    padding-top: 25px;
}

.rec-product{
  margin-top: 20px;
  padding: 0px 20px;
}

.frame {
  /*width: 300px;*/
  height: 300px;
  border: 15px solid #ffffff;
  background: #012C49;
  color: #ffffff;
  margin: auto;
  margin: 10px;
  padding: 10px 10px 70px 10px;
  border-radius: 60px;
  box-shadow: 0 0 15px #b1b1b1;
}
.frame .box-title{
  display: flex;
  align-content: center;
  position: absolute;
  z-index: 2;
  left:0;
  right:0;
  width: 100%;
}

.frame .box-title .title{
  margin: auto;
  padding: 0 12px;
  font-weight: 600;
  color: #ffffff;
  background-color: #000000;
  border-radius: 0 0 7px 7px;
}

.frame img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 8px 0px #001726;
  border-radius: 40px;
  object-fit: cover;
}
.des{
    margin-top: 12px;
    text-align: center;
}

.more-btn, .more-btn:hover, .more-btn:focus{
  background-color: #012C49;
  margin-right: 30px;
}