body{
  background-color: #012C49 !important;
  font-family: "Sukhumvit Set";
  color: white;
}

.logo{
  padding: 15px 15px 9px;
  border-radius: 0 0 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 6px 7px -5px #555555;
}

.logo img{
  width: 120px;
  height: 80px;
}

.nav {
  text-align: center;
  padding-bottom: 4px;
}
.nav a {
  padding: 8px 10px;
  margin: 0 10px;
  font-weight: 100;
  color: white;
}
.nav a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #ffffff31;
  border-radius: 9px;
}
.nav .active {
  font-size: 20px;
  font-weight: 300;
  color: #000000 !important;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0 6px 15px -7px #303030;
}

.nav .active:hover{
  background-color: #ffffff !important;
}

.lang-link{
  color: #ffffff;
  padding: 25px 0px 0px 0px; 
  text-align: right;
}

.lang-link a, .lang-link-m a{
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
}

.lang-link a:hover, .lang-link-m a:hover{
  text-decoration: none;
  background-color: #ffffff31;
}

.lang-link .active, .lang-link-m .active{
  background-color: white;
  color: #000000;
}

.lang-link .active:hover, .lang-link-m .active:hover{
  background-color: white;
  color: #000000;
}

.lang-link-m{
  text-align: center;
}

.navbar{
  padding: 0px !important;
}

.navbar .navbar-brand{
  padding: 10px 10px 10px 10px;
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 6px 7px -5px #555555;
}

.nav-link{
  text-align: center;
  color: #ffffff !important;
}

.navbar .navbar-brand img{
  width: 95px;
  height: 65px;
}

.navbar-toggler-icon{
  color: #ffffff !important;
}

.navbar .active{
  background-color: #ffffff;
  color: #000000 !important;
  border-radius: 10px;
}

.content{
  background-color: #ffffff;
  color: black;
  border-radius: 20px;
  padding: 15px;
}

.footer{
  margin-top: 35px;
  margin-bottom: 35px;
}

.footer td{
  width: 50%;
}

.footer a{
  color: white;
}

.footer .left-col{
  padding-left: 20%;
}

.footer .left-col .sitemap-title{
  padding-left: 1em;
  font-size: 30px;
  font-weight: bold;
}

.footer .right-col{
  border-left: 2px solid #ffffff;
  text-align: center;
}

.footer .right-col .phone{
  font-size: 30px;
}

.footer .right-col .phone img{
  width: 6%;
  margin-right: 15px;
}

.footer img{
  width: 50%;
}